APP_ENV=dev
APP_SECRET=change_me_to_a_random_secret_in_production

DATABASE_URL="mysql://app_user:app_password@127.0.0.1:3306/fund_transfer?serverVersion=8.0&charset=utf8mb4"

REDIS_DSN=redis://127.0.0.1:6379
MESSENGER_TRANSPORT_DSN=redis://127.0.0.1:6379/messages
LOCK_DSN=redis://127.0.0.1:6379

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_to_your_jwt_passphrase
JWT_TTL=3600

DEFAULT_URI=http://localhost
